<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel='stylesheet' href='./css/food.css' />
    <link rel='stylesheet' href='./css/micro.css' />
    <link rel="stylesheet" href='./css/common.css'/>
    <title>推荐列表</title>
  </head>
  <body>
    <div class="box">
      <div class="emptyResult"></div>
      <div class="title">
        <div class="search">
          <div class="search_img"><img src='/imgs/search2.png'/></div>
          <input type="text" />
          <div class="cha_img"><img class="" src='/imgs/cha.png'/></div>
        </div>
        <img class="speak_img" src='/imgs/speak.png'/>
      </div>
      <div class="listcontent">
        <div class="top_result">
          <p class="find">为您找到<span class="place highlight"></span>附近
            <span class="result_n"><span class="num highlight"></span>个<span class="cate highlight"></span></span>
          </p>
          <span class="select">智能排序</span>
        </div>
        <!-- 排序list列表 -->
        <div class="shrink_con">
          <!-- <img class="shrink" src="/imgs/shrink.png"> -->
          <ul class="selectlist">
            <li class="def">智能排序</li>
            <li class="dis">离我最近</li>
          </ul>
        </div>
        <div class="map">
          <div id="container" tabindex="0"></div>
        </div>
      </div>
      <div class="content_result"></div>
      
    </div>
    <div class="queModal">
      <div class="close"><img class="" src='/imgs/close.png'/></div>
      <div class="con">
        <div class="ask">你可以这样问我:</div>
        <div class="ques">
          <div>附近环境好的酒店?</div>
          <div>附近好吃的美食?</div>
          <div>附近的停车场?</div>
          <div>湖心岛人多吗?</div>
        </div>
      </div>
      <div class="listening">正在分析...</div>
      <div class="unknown"></div>
      <div class="density_none">对不起，小AI只提供<span class='density_click'>东湖绿道</span>相关景点的拥堵预测服务</div>
      <div class="timeOut">服务器未响应,请检查网络或重试</div>
      <div id='app'></div>
      <div id='startRecord'><img src='/imgs/micro.png' class="micro"></img></div>
    </div>
    <script src="/common/jquery.min.js"></script>
    <script type="text/javascript" src="//webapi.amap.com/maps?v=1.3&key=921cd5ed3b345ef7096eee41578cbd66
    "></script>
    <script src='/common/JSBridge.js'></script>
    <script src="/dist/food.bundle.js"></script>
    <script src='/dist/common.bundle.js'></script>
  </body>
</html>
